.hero{
    height: 240px;
    background: linear-gradient(0deg, rgba(8, 30, 225, 0.23), rgba(8, 30, 225, 0.23)), url(../img/fondo.jpg);
    align-items: center;
    padding-top: 0.1px;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}